@charset "UTF-8";
legend {
	@extend h1;
}

fieldset{
	padding:0;
	border: none;
	margin: 0 0 $base-spacing-unit 0;
}
.form-fields li {
  position: relative;
}

.text-input,
textarea {
	background-color: $grey-light;
	//box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
	border: 1px solid $grey;
	border-color: rgba(0,0,0,0.2);
	border-radius: $brand-round;
	padding: 0.5em;
	vertical-align: middle;
	width: 100%;
	&:focus {
		background-color: #fff;
		//box-shadow: inset 0 1px 0 rgba(17,34,187,0.1);
		border: 1px solid  $secondary-color;
		border-color: rgba( $secondary-color,0.5);
	}
    &.error {
        border-color: #a00;
    }
}
select.text-input {
	background: $grey-light url("../img/ico/black-triangle.gif") no-repeat 95% 50%;
	background-size: 1em;
	color: #444;
	text-shadow: 0 1px 0 #fff;
	//box-shadow: inset 0 -1px 0 rgba(0,0,0,0.1);
	margin-right: 0.5em;
	border: 1px solid #ccc;
	border-radius: 0.25em;
	padding: 0.5em 0.75em;
	display: inline-block;
	position: relative;
	-webkit-appearance: button;
	appearance: normal;
	width: 100%;
}

.additional {
	color:  $grey-dark;
}
abbr[title="Required"] {
	color: #a00;
	font-size: 1.25em;
	font-weight: 400;
	border: 0;
}

.form--actions {
	// border-top: 1px solid $grey-light;
	// margin-top: $base-spacing-unit 0 0 0;
	padding: 0 0 $base-spacing-unit 0;
}
form.newsletter {
  width: 100%;
  @include media-query(lap){
    width: 33%;
  }
  @include media-query(desk){
    width: 100%;
  }
}
/*.input-text__search {
	border-radius:14px;
}
.search-trigger {
	margin:$half-spacing-unit 0 0 $half-spacing-unit;
	display:inline-block;
	color:  $base-ui-color;
}*/

//.form--inline {
//	@extend .cf;
//	legend {
//		@include font-size(16px);
//		display: block;
//		float: left;
//		margin-bottom: 0;
//		line-height: 32px;
//		margin-right: 5px;
//		color: $white;
//		font-weight: normal;
//	}
//	input {
//		width: 200px;
//		border-radius: 4px 0 0  4px;
//		padding: 0 4px;
//		height: 32px;
//		border-width: 1px 0 1px 1px;
//		vertical-align: bottom;
//		box-shadow: none;
//		display: block;
//		float: left;
//	}
//	button {
//		border-radius: 0 4px 4px 0;
//		display: block;
//		float: left;
//	}
//}


.input {
  background: lighten(#101010,10);
  float: left;
  clear: both;
  height: 34px;
  width: 84%;
  width: calc(100% - 40px);
}
.input span {
  position: absolute;
  padding: 0 6px;
  display: inline-block;
  height: 34px;
  line-height: 34px;
  margin-left: 3px;
  color: #999;
}
.input input {
  position: relative;
  margin: 0;
  padding: 0 6px;
  background: transparent;
  font: inherit;
  border: none;
  color: #999;
  height: 34px;
  line-height: 34px;
  width: 100%;
  //width: calc(100% - 40px);

}
.newsletter-arrow {
  @include font-size(20px);

}
.btn--newsletter {
  border: none;
  display: inline-block;
  float: left;
  background: lighten(#101010,10);
  border-left: 1px solid #101010;
  width: 40px;
  height: 34px;
  color: silver;
  &:hover {
    color: $primary-color;
  }
}
/* Hack to remove Safari's extra padding. Remove if you don't care about pixel-perfection. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .input input { padding: 4px; }
}