caption {
	caption-side: bottom;
	color: $grey-dark;
	@include font-size($milli-size);
	text-align: left;
	margin: $half-spacing-unit 0;
}
th,td {
	border-bottom: 1px solid $base-ui-color;
	text-align: left;
}
thead th {
	border-bottom: 2px solid $grey;
}
th {
	font-weight: 700;
}

.table--striped{
	tbody tr:nth-of-type(odd){
		background-color:$grey-light;
	}
}
